/* client/pages/user/user.module.css */
/* User Profile Edit page */
.container {
  display: flex;
  max-width: 1200px;
  /* Increase max-width to accommodate sidebar and form */
    margin-left: auto;
    margin-right: auto;
}

.formContainer {
    flex: 1;
      /* Allow the form container to take up the remaining space */
      display: flex;
      justify-content: center;
      padding: 24px;
}

.row {
  margin: auto;
  align-self: center;
}

.form {
  border: 1px solid #ced4da;
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
}

.formControl {
  border: 1px solid #ced4da;
  font-size: 1.25rem;
}

.formControl:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.submitButton {
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #65558F;
}

.submitButton:hover {
  background-color: #4D3D7E;
}

.deleteButton {
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
