.container {
    /* min-height: 100vh; */
    /* padding: 0; */
    margin-top: 3%;
}

.sidebar {
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    min-height: 100vh;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.sidebar a {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 0.25rem;
    transition: box-shadow 0.3s ease;
}

.sidebar a:hover {
    background-color: rgb(235, 227, 253);
    color: #000000;
}

.sidebar .activeLink {
    font-weight: bold;
    color: #af9cdd;
}

.dropdownToggle {
    width: 100%;
    text-align: left;
    background-color: #f8f9fa;
    border: none;
}

.activeLink {
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.alert {
    margin-top: 1rem;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.addButton {
    margin-top: 1rem;
    background-color: #8660df;
    color: #ffffff;
    border: none;
}

.addButton:hover {
    background-color: #af9cdd;
}
